# --
# Required properties are set + default values (see "parser" job spec for default values).
# --
properties:
  logstash_ingestor:
    syslog:
      port: 5514
  logstash_parser:
    debug: false
    outputs: [ { plugin: "elasticsearch", options: {} } ]
    elasticsearch:
      document_id: ~
      index: "logs-%{[@metadata][index]}-%{+YYYY.MM.dd}"
      index_type: "%{@type}"
      idle_flush_time: 100
      data_hosts: [127.0.0.1]
      flush_size: 500
